<h1>About us</h1>
<p>We have been providing homeowners with access to vibrant, quality plants for over 20 years.
Not all of us live in the tropics, but many still desire to be around the green of nature in the comfort of our own home.
With Jungle, you can! Pick from our colection of carefully selected plants that will breathe life into any dwelling.
All of our plants are ethically grown and taken care of by our experts prior to your order. They ship in durable and recyclable
material, guarenteed to arrive on your doorstep looking as fresh as they do in our images. Order now and experience the scenic
and wild nature of the Jungle, without all of the mosquitoes and mud!  </p>
